/* line 4, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 6, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%; }

/* line 16, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 18, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  /* line 45, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

/* line 20, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 22, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 24, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none; }

/* line 2, /srv/apps/chc/src/stylesheets/partials/_form.sass */
form .field {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 1em; }
  /* line 5, /srv/apps/chc/src/stylesheets/partials/_form.sass */
  form .field label {
    padding: 0;
    font-weight: normal; }
  /* line 8, /srv/apps/chc/src/stylesheets/partials/_form.sass */
  form .field label, form .field input[type=text], form .field textarea {
    display: block;
    float: left; }
  /* line 11, /srv/apps/chc/src/stylesheets/partials/_form.sass */
  form .field input, form .field textarea, form .field input:focus, form .field textarea:focus {
    font-size: 16px;
    color: #627e9f;
    margin-top: 2px;
    width: 520px;
    border: 0;
    border-left: 4px solid #93e2a6;
    background: white url(/images/shadow_form_field.png) left top repeat-x; }
    /* line 19, /srv/apps/chc/src/stylesheets/partials/_form.sass */
    form .field input.error, form .field textarea.error, form .field input:focus.error, form .field textarea:focus.error {
      border-color: #ed670e; }
/* line 23, /srv/apps/chc/src/stylesheets/partials/_form.sass */
form label {
  padding: 0 0 5px 5px; }
/* line 26, /srv/apps/chc/src/stylesheets/partials/_form.sass */
form textarea {
  padding: 5px 3px 5px 3px;
  height: 128px;
  overflow-y: auto; }
/* line 31, /srv/apps/chc/src/stylesheets/partials/_form.sass */
form input[type=text] {
  padding: 3px;
  height: 32px; }
/* line 35, /srv/apps/chc/src/stylesheets/partials/_form.sass */
form .actions {
  text-align: left; }

/* line 4, /srv/apps/chc/src/stylesheets/partials/_typography.sass */
.font-base, body {
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400; }

/* line 12, /srv/apps/chc/src/stylesheets/partials/_typography.sass */
.font-small, #content #sidebar, #footer, #e9 {
  font-size: 14px;
  line-height: 18px; }

/* line 19, /srv/apps/chc/src/stylesheets/partials/_typography.sass */
.cantarell, form .field input, form .field textarea, form .field input:focus, form .field textarea:focus, body, h3, #content #sidebar, #footer, #e9 {
  font-family: "Cantarell", serif; }

/* line 25, /srv/apps/chc/src/stylesheets/partials/_typography.sass */
.im-fell, .h1, h1, #errorsContainer #errors h2, #thanks div h2, .h2, h2, #header #nav, #content #sidebar a.read-more, #errorsContainer, #thanks {
  font-family: "IM Fell DW Pica SC", serif; }

/* line 39, /srv/apps/chc/src/stylesheets/partials/_typography.sass */
h1, h2, h3 {
  line-height: 1em; }

/* line 42, /srv/apps/chc/src/stylesheets/partials/_typography.sass */
.h1, h1, #errorsContainer #errors h2, #thanks div h2 {
  font-size: 34px;
  margin-bottom: 0.5em; }

/* line 50, /srv/apps/chc/src/stylesheets/partials/_typography.sass */
.h2, h2, #header #nav {
  font-size: 24px;
  margin-bottom: 0.4em; }

/* line 58, /srv/apps/chc/src/stylesheets/partials/_typography.sass */
h3 {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 0.5em; }

/* line 64, /srv/apps/chc/src/stylesheets/partials/_typography.sass */
p {
  margin-bottom: 1em; }

/* line 67, /srv/apps/chc/src/stylesheets/partials/_typography.sass */
a {
  text-decoration: underline; }

/* line 70, /srv/apps/chc/src/stylesheets/partials/_typography.sass */
.highlight {
  font-weight: bold; }

/* line 79, /srv/apps/chc/src/stylesheets/partials/_typography.sass */
ul {
  margin-bottom: 1em; }

/* line 82, /srv/apps/chc/src/stylesheets/partials/_typography.sass */
li {
  list-style: none;
  margin: 0 0 0.25em 0;
  padding: 0 0 0 18px;
  background: url(/images/bullet_12.png) 0px 4px no-repeat; }

/* line 3, ./src/stylesheets/partials/_application.sass */
html a.logo, * html a.logo, *:first-child + html a.logo {
  text-indent: 0;
  overflow: hidden;
  font-size: 0px;
  line-height: 0px; }

/* line 9, ./src/stylesheets/partials/_application.sass */
html {
  height: 101%; }

/* line 13, ./src/stylesheets/partials/_application.sass */
a:active, a:focus, input[type=image] {
  outline-style: none; }

/* line 16, ./src/stylesheets/partials/_application.sass */
body {
  background: white url(/images/background.png) repeat;
  color: #627e9f; }
  /* line 27, /srv/apps/chc/src/stylesheets/partials/_colors.sass */
  body a, body a:link, body a:visited {
    color: #627e9f; }
  /* line 29, /srv/apps/chc/src/stylesheets/partials/_colors.sass */
  body a:hover {
    color: #2f4b6c; }

/* line 23, ./src/stylesheets/partials/_application.sass */
.inner {
  width: 990px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1; }

/* line 26, ./src/stylesheets/partials/_application.sass */
#header {
  height: 180px;
  background: url(/images/background_top_nav.png); }
  /* line 30, ./src/stylesheets/partials/_application.sass */
  #header #title {
    display: inline;
    float: left;
    margin-right: 5px;
    width: 115px; }
    /* line 139, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/./blueprint/_grid.scss */
    * html #header #title {
      overflow-x: hidden; }
    /* line 32, ./src/stylesheets/partials/_application.sass */
    #header #title h1 {
      cursor: pointer;
      z-index: 1;
      position: relative;
      background: transparent url(/images/logo_chc.png) no-repeat;
      text-indent: -999em;
      height: 180px;
      width: 134px; }
  /* line 40, ./src/stylesheets/partials/_application.sass */
  #header #nav {
    display: inline;
    float: left;
    margin-right: 0;
    width: 865px;
    font-size: 21px;
    padding-top: 60px; }
    /* line 139, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/./blueprint/_grid.scss */
    * html #header #nav {
      overflow-x: hidden; }
    /* line 76, /srv/apps/chc/src/stylesheets/partials/_typography.sass */
    #header #nav a {
      text-decoration: none; }
    /* line 45, ./src/stylesheets/partials/_application.sass */
    #header #nav ul {
      overflow: hidden;
      *zoom: 1;
      list-style-type: none;
      margin-left: -2px; }
      /* line 49, ./src/stylesheets/partials/_application.sass */
      #header #nav ul li {
        line-height: 48px;
        float: left;
        background: transparent url(/images/pipe.png) 13px 0px no-repeat;
        padding-left: 30px; }
        /* line 52, ./src/stylesheets/partials/_application.sass */
        #header #nav ul li a {
          height: 48px; }
        /* line 61, ./src/stylesheets/partials/_application.sass */
        #header #nav ul li:first-child {
          background: none; }
        /* line 66, ./src/stylesheets/partials/_application.sass */
        #header #nav ul li.current {
          padding-left: 10px; }
        /* line 68, ./src/stylesheets/partials/_application.sass */
        #header #nav ul li.next {
          padding-left: 20px;
          background-position: 3px 0px; }
        /* line 72, ./src/stylesheets/partials/_application.sass */
        #header #nav ul li .nav-l, #header #nav ul li .nav-m, #header #nav ul li .nav-r {
          height: 48px;
          float: left; }
        /* line 75, ./src/stylesheets/partials/_application.sass */
        #header #nav ul li .nav-l {
          background: url(/images/bubble_left.png) no-repeat;
          width: 20px; }
        /* line 78, ./src/stylesheets/partials/_application.sass */
        #header #nav ul li .nav-m {
          background: url(/images/bubble_middle.png) repeat-x; }
        /* line 80, ./src/stylesheets/partials/_application.sass */
        #header #nav ul li .nav-r {
          background: url(/images/bubble_right.png) no-repeat;
          width: 10px; }

/* line 85, ./src/stylesheets/partials/_application.sass */
#content {
  background: url(/images/form_field_shadow.png) left top repeat-x;
  border-top: 1px #a4bedd dashed;
  padding-bottom: 40px;
  position: relative; }
  /* line 91, ./src/stylesheets/partials/_application.sass */
  #content #main {
    display: inline;
    float: left;
    margin-right: 5px;
    width: 535px;
    padding-left: 30px;
    margin-top: 80px; }
    /* line 139, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/./blueprint/_grid.scss */
    * html #content #main {
      overflow-x: hidden; }
  /* line 96, ./src/stylesheets/partials/_application.sass */
  #content #sidebar {
    display: inline;
    float: left;
    margin-right: 0;
    width: 415px;
    margin-top: 47px;
    text-align: center; }
    /* line 139, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/./blueprint/_grid.scss */
    * html #content #sidebar {
      overflow-x: hidden; }
    /* line 105, ./src/stylesheets/partials/_application.sass */
    #content #sidebar .section {
      line-height: 1.2em;
      border-bottom: 1px #a4bedd dashed;
      margin-bottom: 0.85em; }
      /* line 106, ./src/stylesheets/partials/_application.sass */
      #content #sidebar .section p, #content #sidebar .section ul {
        text-align: left; }
    /* line 112, ./src/stylesheets/partials/_application.sass */
    #content #sidebar #panel-top, #content #sidebar #panel-bottom {
      position: relative;
      padding: 0px 50.5px;
      width: 310px;
      float: right; }
    /* line 118, ./src/stylesheets/partials/_application.sass */
    #content #sidebar a.contact-us, #content #sidebar a.ask-jessica {
      position: absolute;
      left: 143px;
      background-position: left top;
      background-repeat: no-repeat;
      height: 62px;
      width: 120px;
      text-indent: -999em; }
      /* line 127, ./src/stylesheets/partials/_application.sass */
      #content #sidebar a.contact-us:hover, #content #sidebar a.ask-jessica:hover {
        background-position: left bottom; }
    /* line 130, ./src/stylesheets/partials/_application.sass */
    #content #sidebar a.read-more {
      font-size: 14px;
      text-decoration: none;
      color: #93e2a6;
      line-height: 15px;
      display: block;
      margin: 0.6em 0 0.75em 0; }
      /* line 22, /srv/apps/chc/src/stylesheets/partials/_colors.sass */
      #content #sidebar a.read-more, #content #sidebar a.read-more:link, #content #sidebar a.read-more:visited {
        color: #93e2a6; }
      /* line 24, /srv/apps/chc/src/stylesheets/partials/_colors.sass */
      #content #sidebar a.read-more:hover {
        color: #a4bedd; }
      /* line 136, ./src/stylesheets/partials/_application.sass */
      #content #sidebar a.read-more .logo {
        background: url(/images/read_more_hand_30.png) left top no-repeat;
        display: inline-block;
        width: 30px;
        height: 15px;
        line-height: 15px;
        vertical-align: top;
        margin-left: 3px; }
      /* line 144, ./src/stylesheets/partials/_application.sass */
      #content #sidebar a.read-more:hover .logo {
        background-position: left bottom; }
    /* line 147, ./src/stylesheets/partials/_application.sass */
    #content #sidebar #panel-top {
      background: url(/images/right_column_top.png) right top no-repeat;
      height: 449px; }
      /* line 150, ./src/stylesheets/partials/_application.sass */
      #content #sidebar #panel-top .section:first-child {
        padding-top: 73px; }
      /* line 152, ./src/stylesheets/partials/_application.sass */
      #content #sidebar #panel-top a.contact-us {
        top: 4px;
        background-image: url(/images/contact_us.png); }
    /* line 156, ./src/stylesheets/partials/_application.sass */
    #content #sidebar #panel-bottom {
      background: url(/images/right_column_bottom.png) right top no-repeat;
      height: 175px; }
      /* line 159, ./src/stylesheets/partials/_application.sass */
      #content #sidebar #panel-bottom .section {
        padding: 0px 20px;
        border-bottom: none; }
      /* line 162, ./src/stylesheets/partials/_application.sass */
      #content #sidebar #panel-bottom .section:first-child {
        padding-top: 26px; }
      /* line 164, ./src/stylesheets/partials/_application.sass */
      #content #sidebar #panel-bottom a.ask-jessica {
        bottom: 4px;
        background-image: url(/images/ask_jessica.png); }

/* line 168, ./src/stylesheets/partials/_application.sass */
#bg-gfx {
  position: absolute;
  bottom: -60px;
  left: 50%;
  margin-left: -495px;
  background: url(/images/art_globe.png) left bottom no-repeat;
  height: 229px;
  width: 346px;
  z-index: -999; }

/* line 178, ./src/stylesheets/partials/_application.sass */
#footer {
  position: relative;
  min-width: 990px;
  width: auto !important;
  width: 990px;
  border-top: 1px #a4bedd dashed;
  color: #ced7e4; }
  /* line 184, ./src/stylesheets/partials/_application.sass */
  #footer #copyright {
    float: left;
    text-align: left;
    padding-left: 5px;
    width: 49%; }
  /* line 189, ./src/stylesheets/partials/_application.sass */
  #footer #sublogo {
    position: absolute;
    width: 577px;
    margin-left: -288.5px;
    height: 60px;
    top: 0;
    left: 50%;
    background: url(/images/tagline_footer_577x59.png) center center no-repeat;
    text-indent: -999em;
    position: absolute; }
  /* line 199, ./src/stylesheets/partials/_application.sass */
  #footer #e9 {
    float: right;
    text-align: right;
    padding-right: 5px;
    width: 49%; }
  /* line 27, /srv/apps/chc/src/stylesheets/partials/_colors.sass */
  #footer a, #footer a:link, #footer a:visited {
    color: #ced7e4; }
  /* line 29, /srv/apps/chc/src/stylesheets/partials/_colors.sass */
  #footer a:hover {
    color: #a4bedd; }
  /* line 207, ./src/stylesheets/partials/_application.sass */
  #footer, #footer a {
    line-height: 60px; }

/* line 210, ./src/stylesheets/partials/_application.sass */
#e9 {
  display: block; }
  /* line 213, ./src/stylesheets/partials/_application.sass */
  #e9 .logo {
    background: url(/images/e9_20x12.png) no-repeat;
    display: inline-block;
    width: 20px;
    height: 12px;
    text-indent: -999em;
    vertical-align: middle;
    position: relative; }
  /* line 221, ./src/stylesheets/partials/_application.sass */
  #e9 a {
    text-decoration: none; }
  /* line 223, ./src/stylesheets/partials/_application.sass */
  #e9 a {
    color: #ced7e4; }
    /* line 225, ./src/stylesheets/partials/_application.sass */
    #e9 a .logo {
      background-position: left top; }
  /* line 227, ./src/stylesheets/partials/_application.sass */
  #e9 a:hover {
    color: #a4bedd; }
    /* line 229, ./src/stylesheets/partials/_application.sass */
    #e9 a:hover .logo {
      background-position: left bottom; }

/* line 258, ./src/stylesheets/partials/_application.sass */
#errorsContainer {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  text-align: center; }
  /* line 260, ./src/stylesheets/partials/_application.sass */
  #errorsContainer #errors {
    background: transparent url(/images/error_alert_layer_art_600.png) top left no-repeat;
    height: 513px;
    width: 600px;
    margin-left: -300px;
    margin-top: 25px;
    padding-top: 40px;
    position: relative;
    left: 50%; }
    /* line 251, ./src/stylesheets/partials/_application.sass */
    #errorsContainer #errors h2 {
      margin-bottom: 0.5em; }
    /* line 254, ./src/stylesheets/partials/_application.sass */
    #errorsContainer #errors p {
      font-size: 22px;
      margin-bottom: 0.25em; }
    /* line 262, ./src/stylesheets/partials/_application.sass */
    #errorsContainer #errors h2 {
      color: #ed670e; }

/* line 265, ./src/stylesheets/partials/_application.sass */
#thanks {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  text-align: center; }
  /* line 267, ./src/stylesheets/partials/_application.sass */
  #thanks div {
    background: transparent url(/images/error_alert_layer_art_600.png) top left no-repeat;
    height: 513px;
    width: 600px;
    margin-left: -300px;
    margin-top: 25px;
    padding-top: 40px;
    position: relative;
    left: 50%; }
    /* line 251, ./src/stylesheets/partials/_application.sass */
    #thanks div h2 {
      margin-bottom: 0.5em; }
    /* line 254, ./src/stylesheets/partials/_application.sass */
    #thanks div p {
      font-size: 22px;
      margin-bottom: 0.25em; }
    /* line 269, ./src/stylesheets/partials/_application.sass */
    #thanks div h2 {
      color: #93e2a6; }
