$red: #aa0000
$maroon: #772411
$brown: #633a0d
$e9_link: $brown
$e9_link_over: #aa5652
$text_field_border: #f7e9b0
$offwhite: #fdffe0

$arrowbox_border: #ffe080
$arrowbox_fill: #fff7c2

$background_color: $offwhite
$font_color: black
