form
  .field
    @include clearfix
    margin-bottom: 1em
    label
      padding: 0
      font-weight: normal
    label, input[type=text], textarea
      display: block
      float: left
    input, textarea, input:focus, textarea:focus
      @extend .cantarell
      font-size: 16px
      color: $dark_blue
      margin-top: 2px
      width: 520px
      border: 0
      border-left: 4px solid $green
      &.error
        border-color: $orange
      background: white url(/images/shadow_form_field.png) left top repeat-x

  label
    padding: 0 0 5px 5px

  textarea
    padding: 5px 3px 5px 3px
    height: 140px - 10px - 2px
    overflow-y: auto

  input[type=text]
    padding: 3px
    height: 40px - 6px - 2px

  .actions
    text-align: left
