- @page_title  = "Contact Us"
- @body_class  = "contact"
- @mailto_url  = "mailto: jessica at creativehumancapital dot com"

%h1= @page_title

%p For more information on Creative Human Capital, write or call Jessica Chamberlin:

%p
  Creative Human Capital<br/>
  18 E 18th St<br/>
  Suite 5E<br/>
  New York, NY 10003

%p Phone: 917-331-0389

%p Email: <a href="mailto:jessica@creativehumancapital.com">jessica@creativehumancapital.com</a>
