- @page_title  = "Enterprise"
- @body_class  = "enterprise"

%h1= @page_title

%p On an enterprise level, <a href="/services.html">our services</a> introduce perfection into your human resources program. They are right for your company if: 

%ul
  %li You are launching a new product or service, and you want to ensure its success.
  %li Growth has been stagnant, and you’re unsure of the right direction to take.
  %li You are experiencing personnel conflict in any given department or team.
  %li You want to invest in your business, but only with assurances of return on investment. 

%p First, we’ll identify your vision. If you had a magic wand, how would things look if business were flawless right now? 
%p Second, we’ll pinpoint what&ndash;if anything&ndash;is not working, and find the root sources. Then CHC will outline a detailed plan. 
%p As we perform our work, the magic unfolds. We will unleash innovation and unearth buried talents. We’ll liberate stifled collaboration&mdash;even in the face of longstanding conflict or entrenchment.  
%p Each of our enterprise packages is completely bespoke. Here are a few examples of what we can do.

%ul
  %li We can individually support each member of your leadership team.
  %li We can design an employee workshop that provides tangible, workable tools for transcending conflict and releasing creativity and passion. 
  %li We can provide <a href="/services.html">individual coaching</a> for any identified personnel. 

%p To learn more, <a href="/ask-jessica.html">ask Jessica</a>. 
