- @page_title  = "Who We Are"
- @body_class  = "who"

%h1= @page_title

%p Creative Human Capital is a progressive human resources task force. 
%p We enable CEOs, entrepreneurs, enterprises, athletes, and creative impresarios to maximize the scope, vision, and deep thinking that is ordinarily a luxury for modern professionals. 
%p We are your behind-the-scenes secret weapon, supporting your vision to radiate with abundance and gain real traction.
%p Our <a href="/what-we-do.html">unique consulting approach</a> identifies white space opportunities, enabling you to unleash the full power of your creative human capital&mdash;and watch your vision come alive.
