- @page_title  = "Individuals"
- @body_class  = "individuals"

%h1= @page_title

%p On an individual level, <a href="/services.html">our services</a> introduce perfection to your vision. They are right for you and your company if: 

%ul
  %li You seek a team of people to support you, but are unsure of how to find and choose them.
  %li You are feeling overwhelmed by the scope of your vision, and are unsure of how to move forward. 
  %li You want to liberate the unconscious hurdles (personal and professional) that hold you back.

%p First, we’ll lay forth the full scope of your vision. If you had a magic wand, how would things look if your ideality equaled reality? 
%p Second, we’ll assemble a detailed plan that includes each next step. 
%p As we perform our work, the magic unfolds. We will unearth your latent talents, and unhinder your passions. We free you to perform the work you love.  
%p Each of <a href="/services.html">our services</a> is designed around your individual needs. To learn more, <a href="/ask-jessica.html">ask Jessica</a>. 
