- @page_title  = "Our Human Capital"
- @body_class  = "capital"

%h1= @page_title

%p By all rights, Jessica Chamberlin’s childhood should have been light as air. 
%p The CEO of Creative Human Capital grew up on a 100-acre farm in Carlisle, Pennsylvania: the product of sloping hills, rich pastureland, and goofball humor. An All-American athlete and straight-A student, Jessica was surrounded by beauty, laughter, and love. 
%p But the kindhearted blond never felt fully comfortable. She looked deeper, and crusaded with more passion than everyone else&mdash;and it showed. Athletic or not, the visionary farm girl was quite thoroughly an outsider. 
%p As it turned out, she was far ahead of her time.
%p To feed her quest, she went to work for herself. She ran a thriving corn stand with her sisters. She founded a busy landscaping business. While a student at American University, she took over the operation of her hometown recreational program. She coached a boys’ basketball team, and became the legal guardian to two boys whose family was in dire straits.
%p But Jessica never forgot her mission: to find the key to unconditional happiness. Growing up, she’d seen too much the tendency in humans to squander their resources, or live out their lives without tapping the surface of all they were capable of. She determined to change that&mdash;first for herself, and then for others. 
%p Based on her dream and her vision, Jessica Chamberlin founded Creative Human Capital. 
%p To learn more, <a href="/ask-jessica.html">ask Jessica</a>.
