- @page_title  = "Our Services"
- @body_class  = "services"

%h1= @page_title

%p We offer four levels of multidimensional, concierge-style human resources services. 

%h3 Episodic
%p We conduct 15-minute and 1-hour sessions that shine a light on your most pressing current issue. You will be astonished at what may surface—and how easily it can be resolved. 
%p Episodic services are ideal for the entrepreneur with a fairly clear vision, who requires a boost or two along the way. You can schedule these sessions to suit your needs.

%h3 Collaborative
%p We conduct ongoing collaborations over a defined period of time: one week, one month, or three months. These collaborations provide the gentle, intense, and accountable support of a partner as you approach large-scale changes in your business. 
%p Collaborative services are ideal for people whose schedules and responsibilities are forestalling change. We help disperse your vision into manageable parts, so that it gains freedom and momentum as it materializes.

%h3 Intensive
%p We conduct intensive eight-hour sessions that deliver immediate clarity, ease, and momentum. 
%p Intensive services are ideal people that are ready for change now, and feel they don’t have time to waste.

%h3 Educational
%p We design employee workshops that provide tangible, workable tools for transcending conflict and releasing creativity and passion. 
%p Educational services are ideal for enterprises and businesses that are experiencing internal conflict, need a creativity boost, or otherwise desire to maximize their human resources. 

%p To learn more, <a href="/ask-jessica.html">ask Jessica</a>.
