- @page_title  = "What We Do"
- @body_class  = "what"

%h1= @page_title

%p Creative Human Capital is a content management system&mdash;for all unseen, undefined, and untapped resources. These include your knowledge, passions, talents, raw intelligence&mdash; visible or not. 
%p We show you how to utilize three crucial tools to corral these resources into the service of your vision, so that it becomes a reality faster, with far less effort, and with far greater pleasure than you ever thought possible.

%h3 1. We Clarify Intention
%p Intention is where the rubber of your vision hits the road. Together, we create radiant, crystalline intention. Then we use it to nourish your vision&mdash;until it blossoms into the abundance, prosperity, and grace that you desire to be your future. 

%h3 2. We Activate Intuition
%p Intuition is about learning to faithfully trust your instincts. Together, we unveil and harness this natural gift. Then we allow it to channel a sure-footed path through the occasionally overwhelming noise: the naysayers, the obstacles, and the indifference of our often challenging modern world.

%h3 3. We Simplify Information
%p Information can be the loudest noise of all. Together, we sort through this sensory and cognitive avalanche, and align it with your now fine-tuned intention and intuition. Essentially, we partner with information so that it greases the wheels of your vision caravan.
