#copyright
  &copy; 2011 Creative Human Capital
#sublogo
  Creative Human Capital: Intention + Intuition + Information
#e9
  %a{:href => "http://www.e9digital.com", :rel => 'external', :title => 'Web Design by e9digital'} 
    Web Design by e9digital
