#panel-top
  .section
    %h2 Our Enterprise Package
    %ul
      %li This package is tailored for CEOs, other executives, and entire enterprises searching for new ways to mine their human capital and harvest maximum success.
      %li We electrify your human resources, uncover buried talents, and facilitate collaboration&mdash; even in the face of longstanding conflict.
    = link 'Read More', '/enterprise.html', :class => 'read-more'

  .section
    %h2 The Individual Service
    %ul
      %li This service is designed for entrepreneurs and other independent prophets. 
      %li We share the full scope of your vision, freeing you to express it fully and manifest your dream.
    = link 'Read More', '/individuals.html', :class => 'read-more'

  = link 'Contact Us', '/contact-us.html', :class => 'contact-us'

#panel-bottom
  .section
    %h2 Have a Specific Query? 
    %p Test our mettle with a question about what progressive human resources can do for you. 

  = link 'Ask Jessica', '/ask-jessica.html', :class => 'ask-jessica'
